.parent-bag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

@media screen and (max-width: 1260px) {
  .parent-bag {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (max-width: 768px) {
  .parent-bag {
    grid-template-columns: repeat(1, 1fr);
  }

  .details-container {
    width: 100%;
  }
  .parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
